---
variables:
  GIT_DEPTH: 10
  CARGO_HOME: $CI_PROJECT_DIR/.cargo
  DEBIAN_FRONTEND: noninteractive
  AWS_REGION: eu-west-1
  # Ensure Windows builds fail when Powershell detects an error.
  ErrorActionPreference: 'STOP'
  FF_USE_FASTZIP: "true"
  ARTIFACT_COMPRESSION_LEVEL: fastest
  CACHE_COMPRESSION_LEVEL: fastest

stages:
  - test
  - docs
  - release
  - post-release

.only-source-repository:
  only:
    refs:
      - branches@inko-lang/inko
      - tags@inko-lang/inko

.only-rust-changes:
  only:
    changes:
      - "**/*.rs"
      - "**/Cargo.*"

.only-libstd-changes:
  only:
    changes:
      - "**/*.inko"
      - "**/*.rs"
      - "**/Cargo.*"

.only-docs-changes:
  only:
    changes:
      - docs/**/*
      - .vale.ini

.linux-large:
  tags:
    - saas-linux-large-amd64

include:
  - local: .gitlab/ci/windows.yml
  - local: .gitlab/ci/macos.yml
  - local: .gitlab/ci/linux.yml
  - local: .gitlab/ci/lints.yml
  - local: .gitlab/ci/releases.yml
  - local: .gitlab/ci/docs.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
