---
variables:
  CARGO_HOME: $CI_PROJECT_DIR/.cargo
  DEBIAN_FRONTEND: noninteractive
  AWS_REGION: eu-west-1
  # Ensure Windows builds fail when Powershell detects an error.
  ErrorActionPreference: 'STOP'
  LICENSE_FINDER_CLI_OPTS: '--aggregate-paths=. compiler'

stages:
  - test
  - test-runtime
  - release
  - post-release

.only-source-repository:
  only:
    - branches@inko-lang/inko
    - tags@inko-lang/inko

include:
  - local: .gitlab/ci/windows.yml
  - local: .gitlab/ci/macos.yml
  - local: .gitlab/ci/linux.yml
  - local: .gitlab/ci/lints.yml
  - local: .gitlab/ci/releases.yml
  - template: Security/License-Scanning.gitlab-ci.yml

license_scanning:
  variables:
    CARGO_HOME: $HOME/.cargo
