[package]
name = "inko"
version = "0.6.0" # VERSION
authors = ["Yorick Peterse <yorickpeterse@gmail.com>"]
edition = "2018"
build = "build.rs"
license = "MPL-2.0"

[features]
default = []
jemalloc = ["jemallocator"]

[lib]
name = "libinko"
doctest = false

[[bin]]
name = "ivm"
test = false

[dependencies]
getopts = "^0.2"
num_cpus = "^1.12"
parking_lot = "^0.10"
fnv = "^1.0"
time = "^0.2"
num-integer = "^0.1"
float-cmp = "^0.6"
num-traits = "^0.2"
dirs = "^2.0"
libloading = "^0.5"
libffi = "^0.9"
crossbeam-deque = "^0.7"
crossbeam-channel = "^0.4"
libc = "^0.2"
jemallocator = { version = "^0.3", optional = true }
siphasher = "^0.3"
rand = "^0.6"

[dependencies.num-bigint]
version = "^0.2"
features = ["rand"]

[dependencies.socket2]
version = "^0.3.11"
features = ["unix", "reuseport"]

[target.'cfg(not(windows))'.dependencies]
nix = "^0.16"

[target.'cfg(windows)'.dependencies]
wepoll-binding = "^1.0.5"
winapi = "^0.3"
