[package]
name = "types"
version.workspace = true
authors = ["Yorick Peterse <yorick@yorickpeterse.com>"]
edition = "2021"
license = "MPL-2.0"
rust-version.workspace = true

[lib]
doctest = false

[dependencies]
location = { path = "../location" }
indexmap = "^2.6"
