[package]
name = "compiler"
version = "0.14.0" # VERSION
authors = ["Yorick Peterse <yorick@yorickpeterse.com>"]
edition = "2021"
license = "MPL-2.0"
build = "build.rs"

[lib]
doctest = false

[dependencies]
unicode-segmentation = "^1.10"
getopts = "^0.2"
ast = { path = "../ast" }
types = { path = "../types" }
fnv = "^1.0"
blake3 = "^1.5"
inkwell = { version = "^0.4", features = ["llvm16-0"] }
llvm-sys-160 = { package = "llvm-sys", version = "^160.1", features = ["prefer-static"] }

[dev-dependencies]
similar-asserts = "^1.1"
