---
name: Linux tests
on:
  workflow_call:

env:
  CARGO_HOME: ${{ github.workspace }}/.cargo-home
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  DEBIAN_FRONTEND: noninteractive
  TZ: UTC

jobs:
  compiler:
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.68'
          - stable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ${{ env.CARGO_HOME }}
            target
          key: ubuntu-${{ matrix.version }}
      - name: Installing dependencies
        run: sudo ./scripts/deps.sh ubuntu:latest
      - name: Installing Rust
        run: ./scripts/rust.sh ${{ matrix.version }}
      - name: Running tests
        run: cargo test

  std:
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.68'
        image:
          - archlinux:latest
          - debian:11
          - debian:latest
          - fedora:37
          - fedora:latest
          - ubuntu:20.04
          - ubuntu:latest
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    needs:
      - compiler
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ${{ env.CARGO_HOME }}
            target
          key: ${{ matrix.image }}-${{ matrix.version }}
      - name: Installing dependencies
        run: ./scripts/deps.sh ${{ matrix.image }}
      - name: Installing Rust
        run: ./scripts/rust.sh ${{ matrix.version }}
      - name: Compiling
        run: cargo build
      - name: Running tests
        run: |
          cd std
          ../target/debug/inko test
